# true em desenvolvimento, false (ou omitir) em produção
DEBUG=true

POSTGRES_USER=monitor
POSTGRES_PASSWORD=
POSTGRES_DB=monitor_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://monitor:senha@db:5432/monitor_db

NEXT_PUBLIC_API_URL=http://backend:8000
